:root{
    --white: #fff;
    --black: #000;
    --facebook:#3b5998;
    --youtube:rgb(255, 0, 0);
    --twitter:rgb(29, 161, 242);
    --background-color-1: #DADADA;
    --blue: #0ea5e9; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    overflow-x: hidden;
    background-color: transparent;
}

button{
    user-select: none;
    cursor: pointer;
}

a{
    text-decoration: none;
}

.fa-brands{
    cursor: pointer;
}

.app{
    width: 100%;
    height: 100%;
}

.introduction{
    height: 100vh;
    width: 100vw;
    display: none;
    position: relative;
    flex-direction: column;
    background-image: url(../images/background1.png);
    background-size: cover;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.introduction__greeting{
    font-size: 2.5rem;
    letter-spacing: 0.6rem;
    color: #F78072;
    text-transform: uppercase;
    user-select: none;
    margin-bottom: 20px;
}

.introduction__my-name{
    color: var(--white);
    font-size: 6rem;
    user-select: none;
    margin-bottom: 10px;
}

.introduction__my-major{
    color: var(--white);
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 500;
    user-select: none;
    margin-bottom: 30px;
    letter-spacing: 0.4rem;
}

.introduction__see-more{
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.5rem;
    background-color: transparent;
    color: var(--white);
    text-transform: uppercase;
    border: solid 1px;
    padding: 2rem;
    cursor: pointer;
}

.introduction__links{
    position: absolute;
    display: flex;
    bottom: 40px;
}

.introduction__links a{
    border-radius: 50%;
}

.introduction__links a + a{
    margin-left: 10px;
}

.fa-facebook, .fa-youtube, .fa-github, .fa-twitter, .fa-instagram{
    font-size: 4rem;
    color: var(--white);
}

.fa-instagram{
    padding: 0 2px;
}

.introduction__links--facebook:hover, .introduction__links--github:hover{
    background-color: var(--white);
}

.fa-facebook:hover{
    color: var(--facebook);
}

.introduction__links--youtube:hover{
    background-image: radial-gradient(at center, var(--white) 10%, transparent 40%);
}

.fa-youtube:hover{
    color:var(--youtube);
} 

.fa-github:hover{
    color: var(--black);
} 

.fa-twitter:hover{
    color:var(--twitter);
} 

.fa-instagram:hover{
    border-radius: 25%;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}
      
.container{
    display: flex;
    align-items: center;
    background-color: var(--background-color-1);
}

.row{   
    /* flex: 0 0 25%; */
}

.side-bar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    max-width: 25%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    border-right: solid var(--black);
    box-shadow: 5px 0 0 0 rgba(0, 0, 0, 0.25);
}

.side-bar__avatar--wrapper {
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    --size: 190px;
    width: var(--size);
    height: var(--size);
    border-radius: 5px;
    /* position: relative;
    border-left:  solid 2px var(--black);
    border-right:  solid 2px var(--black);
    margin-bottom: 20px; */
}

/* .side-bar__avatar--border-top{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #171618, #fcc23f);
    animation: animate-border-top 2s linear infinite;
}

@keyframes animate-border-top {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

.side-bar__avatar--border-right{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to bottom, #171618, #fcc23f);
    animation: animate-border-right 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate-border-right {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}

.side-bar__avatar--border-bottom{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, #171618, #fcc23f);
    animation: animate-border-bottom 2s linear infinite;
}

@keyframes animate-border-bottom {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.side-bar__avatar--border-left{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to top, #171618, #fcc23f);
    animation: animate-border-left 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate-border-left {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
} */


.side-bar__avatar{
    margin: auto;
    --size: 180px;
    width: var(--size);
    height: var(--size);
    /* border-radius: 50%; */
    background-size: cover;
    transition: all 0.15s ease;
    object-fit: cover;
    object-position: center top;
    background-image: url(../images/avatar.jpg);
    background-repeat: no-repeat;
    user-select: none;
    /* border:  solid 1px var(--black); */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1;
    padding: 0 15px;
    border-radius: 10px;
    border: none;
    position: relative;
    cursor: pointer;
    transition-duration: .2ms;
}

/* .side-bar__avatar::before, .side-bar__avatar::after{
    content: '';
    position: absolute;
    left: -3px;
    top: -3px;
    background: linear-gradient(45deg, #fa5faa,#03a7ff, #00fdd0, #fffb18, #ff0000,#f5afaa,#03a7ff, #00fdd0, #fffb18, #ff0000);
    background-size: 450%;
    border-radius: 10px;
    border: none;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    z-index: 1;
    animation: animate-border 25s linear infinite;
}

.side-bar__avatar::after{
    filter: blur(150px);
}

@keyframes animate-border {
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 450% 0;
    }
    100%{
        background-position: 0 450%;
    }
} */

.side-bar__name{
    font-size: 2.2rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    user-select: none;
}

.side-bar__fields{
    font-size: 2rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    user-select: none;
    padding: 0 10px;
}

.side-bar__menu{
    margin: auto;
    max-width: 25%;
    margin-top: 20px;
    list-style: none;
    background-color: transparent ;
}

.side-bar__menu--item{
    display: flex;
    margin-top: 10px;
    margin-left: -20px;
    color: var(--black);
    width: 140px;
    user-select: none;
    cursor: pointer;
    background-color: transparent ;
    font-weight: 200;
    font-size: 2rem;
    overflow: hidden;
    white-space: nowrap;
    align-items: center;
}

.side-bar__menu li a{
    /* 
    line-height: 40px;
    display: inline-flex;
    text-align: left;
    min-height: 40px;
    width: 140px;
    font-size: 2rem;
    color: var(--black);
    align-self: flex-start;
    justify-content: center;*/
} 

.fa-house, .fa-user, .fa-earth-asia, .fa-diagram-project, .fa-phone{
    padding-right: 10px;
    /* margin: auto ;
    display: inline-block;
    text-align: center; */
}

.content{
    max-width: 75%;
}

.content__container{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.content__home-page{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
    object-fit: cover;
    background-image: url(../images/background2_light.png);
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: center;
}
  
.content__home-page--full-name__wrapper{
    display: block;
    width: 960px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    font-size: 10.5em;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

.content__home-page--introduction {
    animation: typing alternate;
    user-select: none;
}


.content__home-page--introduction {
    font-size: 3rem;
    color: var(--black);
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    animation-duration: 20s;
    animation-delay: .2s;
    animation-timing-function: steps(17, end);
    animation-iteration-count: infinite;
}

.content__home-page--introduction::after{
    content: "|";
    position: absolute;
    right: 0;
    animation: caret infinite;
    animation-duration: 1s;
    animation-timing-function: steps(1, end);
}

@keyframes typing {
    0%, 50%, 100% {
        width: 0;
    }
    10%, 40% {
        width: 280px;
    }
}

@keyframes caret {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.content__home-page--btn-download-cv {
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px;
    font-size: 2rem;
    border-radius: 25px;
    font-weight: 600;
    background-color: transparent;
    color: var(--blue);
    text-transform: uppercase;
    border: solid 1px;
    padding-left: 1rem;
    cursor: pointer;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
}

.content__home-page--btn-download-cv::content {
    padding: 2rem 0;
}

.fa-circle-arrow-down{
    padding-left: 10px;
    font-size: 2rem;
}